

	    	<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
                    <body>
                        <p class= "para"> <b>Hello, welcome to the 'About' page, where you get to know a little bit about me!</b></p>

                        <header><h3>About me:</h3></header>

                        <p> I am Gokul Radhakrishnan (student id :142787217), and I have built this website as a part of my course work in Web Programming course of Database Application Developmeent program at Seneca. I am an international student and I have been in Canada for the past 7 months. I hope you like my website. </p>
					
					
					<!-- End your code here  -->



				</main>
			</div>
		