
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
                    <body>
                    <p class = "para"> <b>Greetings, welcome to the website that would give you a brief overview of HTML 5, which initself was built by using HTML 5 and node.js.</b></p>
                    <header><h3>Description of the site : </h3></header>

                        <p> There are 3 views in total in this website, which contains code written in HTML 5 rendering text.images and videos. Along with the views there are also 5  different pages rendered by different paths, which give the following functionalities.</p>
                        <b>Pages:</b><br>
                        <p><a href="/students">1.All students</a></p>
                        <p><a href="/students?course=7">2.Getting student by course number</a></p>
                        <p><a href="/tas">3.Getting all the managers</a></p>
                        <p><a href="/courses">4.Getting all the courses</a></p>
                        <p><a href="/student/3">5.Getting a student by his student number</a></p>
                        <b>Views:</b>
                        <p><a href="/">1.Home</a></p>
                        <p><a href="/about">2.About</a></p>
                        <p><a href="/htmlDemo">3.htmlDemo</a></p>

                    <header><h3>What is HTML 5?</h3></header>

                    <p>HTML 5 is an mark up language that usese various tags to redndering contents like text, media and links in a way which is very legible, pleasant and interactive for the end users.HTML 5 is usually used in combinations with CSS and Jsva script or other programming languages to  create web pages on the internet.   </p>
          
             
                              
          
                           
                          </body>
                              
                
					
					 
					
					<!-- End your code here  -->



				</main>
			</div>
		