
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					<!doctype HTML>
             <html lang="en-CA">
    <head>
        <title>HTML Demo</title>
    </head>
    <body>
        <hr>
        <h3 class = "thead">HTML Demo</h3>
	</hr>
		
			
			
			</hr>
		
			<caption class ="tablecap"><h5><b>HTML table 1:</b></h5></caption><br>
			<table class="table">
			<tr>
				<th>Name </th>
				<th colspan="3"> This is a composite key;</th>
				
				<th> About</th>
			   
			</tr>
			<tr>
				<td>Gokul</td>
				<td rowspan="2"> Gokul_Radhakrishnan_142787217</td>
				<td>_____</td>
				<td>_____</td>
				<td><a href="http://localhost:8080/about">link</a></td>
			</tr>
            <tr>
				<td>_____</td>
				<td>_____</td>
				<td>_____</td>
				<td>_____</td>
			</tr>

			<tr>
				<td>Patrick</td>
				<td>No composite key</td>
				<td>_____</td>
				<td>_____</td>
				<td>Professor</td>
			</tr>
		</table><br>
		<p><h6>Description:</h6>HTML 5 can render contents in the form of tables, as we can see from the above there are multiple rows and columns for a table with appropraite header, including ones which are merged together.</p>
		<br >
		<caption class="tablecap"><h5><b>HTML table 2:</b></h5></caption><br>
		<table border="1">
			
			<thead><tr><th>S.No</th><th>Name</th><th>Email</th><th>Address</th></tr></thead>
			<tbody><tr><th>1.</th><td>Tremain</td><td>tcassy5@mySeneca.ca</td><td>068 Bluestem Center</td></tr>
			<tr><th>2.</th><td>Elie</td><td>ecaddense@mySeneca.ca</td><td>1 Summit Alley</td></tr></tbody>
			<tfoot></tfoot><tr><th>3.</th><td>Clement</td><td>ceroniep@mySeneca.ca</td><td>223 Hovde Point</td></tr><tfoot>
		</table>

	<hr><h3><b>Lists:</b></h3><hr/>
        <ul>
            <li>Student 1</li>
            <li>Student 2 </li>
			<li> Student 3 </li>
				 <b>Details</b>
				 <ol>
					<li>FirstName : Zonnya</li>
					<li>LastName: Laytham</li>
					<li>Email: zlaytham2@mySeneca.ca</li>
					<li><a href="http://localhost:8080/student/3">More information</a></li>
				 </ol>
			</li>
             <li>Student 4</li>
			 <li>Student 5</li>
       </ul>
	  <p><h6>Description:</h6> the above is a demonstratiions of lists in HTML (namely ordered and unordered), the list can contain variety of contentes such as text, links and media.</p>
	  <hr> <h3><b>Images:</b></h3>  </hr>
       <p><h5>Image 1:</h5></p><br>
	  <img src="https://images.unsplash.com/photo-1645119917964-1b0763695ec7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt="Coffee"><br>
	  <p><h5>Image 2:</h5></p><br>
	  <img src="https://images.unsplash.com/photo-1599420186946-7b6fb4e297f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" alt="Work station" widths="500" height="600"><br>
	  <p><h5>Image 3:</h5></p> <br>
	  <img src="https://images.unsplash.com/photo-1644962986863-d075ee548966?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80" alt="Lake view" width="500" height="600"><br>

	  <p><h6>Description: </h6>We can also link images to HTML which can be rendered with an appropraite name tag. </p>
	 <hr><h3><b>Audio:</b></h3> </hr>
	 
		
        <audio controls>
            <source src="https://pat-crawford-sdds.netlify.app/shared/winter-2022/web700/A3/sample-audio.mp3" type="audio/mp3">
            
        </audio>
		<p><h6>Description: </h6>The above is a audio which is redered using HTML 5. </p><br>
      <hr> <h3> <b>Video:</b> </h3> </hr>
      
        <video width="320" height="240" controls>
            <source src="https://pat-crawford-sdds.netlify.app/shared/winter-2022/web700/A3/sample-video.mp4" type="video/mp4">
            <source src="https://pat-crawford-sdds.netlify.app/shared/winter-2022/web700/A3/sample-video.ogg" type="video/ogg">
            <source src="https://pat-crawford-sdds.netlify.app/shared/winter-2022/web700/A3/sample-video.webm" type="video/webm">
            
        </video>
		<p><h6>Description: </h6>The above is a video which is rendered using HTML 5. </p><br>

				
					
					<!-- End your code here  -->



				</main>
			</div>
		